html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #122a77;
    display: flex;
    box-shadow: 0px 4px 8px hsla(0, 0%, 7%, .5);
    color: white;
}

nav img {
    width: 1cm;
    padding: 10px;
}

nav h1 {
    padding: 5px;
    margin: 5px 0 0 0;
    width: min-content;
    font-size: 1em;
}

.card {
    border: 2px solid red;
    width: max-content;
}